@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.body {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  background-color: #E9F8F9;
  color: #181823;
  margin: 0;


  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

/* * {
	font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
} */

.movie_container {
	width: 800px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.movie_container select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.container {
	background-color: #C0EEF2;
	border-radius: 10px;


  perspective: 1000px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat {
  background-color: #E9F8F9;
  height: 24px;
  width: 30px;
  margin: 6px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

	box-shadow: 0 5px 5px #00000077;
}

.doubleSeat {
  background-color: #E9F8F9;
  height: 24px;
  width: 72px;
  margin: 6px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

	box-shadow: 0 5px 5px #00000077;
}

.selected {
  background-color: #0081cb;
}

.occupied {
  background-color: #494088;
}

.margin-right {
  margin-right: 30px;
}

.margin-left {
  margin-left: 30px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.doubleSeat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  background: #ffffff;
  height: 100px;
  width: 400px;
  margin: 15px 50px;
  transform: rotateX(-70deg);
  box-shadow: 0 10px 20px rgba(255,255,255,0.7);

	font-size: 40px;
	text-align: center;
	justify-content: center;
}

p.text {
  margin: 40px 0;
}

p.text span {
  color: #537FE7;
  font-weight: 600;
  box-sizing: content-box;
}
