.Banner{
    height: 500px;
    overflow: hidden; 
    /* position: absolute; */
    right: 0px;
}

.slides{
    width: 100%;
    height: 500px;
}
.slide img{
    width: 100%;
    height: 500px;
}

.change_btn{
    position: absolute;
    top: 50%;
    width: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 500px;
    transform: translateY(-50%);
    cursor: pointer;
}

#left{
    right:0;
}
.btn_dots{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.btn_dots span{
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}


#left:hover{
    background-image:  linear-gradient(-90deg,#C0EEF2,#C0EEF200); 
}

#right:hover{
    background-image:  linear-gradient(90deg,#537fe7,#537fe700); 
}

.Banner .opt{
position: absolute;
width: 20%;
height: 80%;
top: 50px;
right: 100px;
box-sizing: border-box;
display: flex;
flex-direction: column;
background-color: #C0EEF2;
opacity: 0.85;
}

.opt select{
    width: 90%;
    height:40px;
    margin: 20px 0px 0px 5%;
    background-color: #E9F8F9;
    color: black;
}


.opt label{
    font-size: 25px;
    background-color: #537FE7;
    width: 80%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
 }

 .opt .buy_btn{
    font-size: 25px;
    color: black;
    width: 40%;
    height: 40px;
    line-height: 40px;
    background-color: #537FE7;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 0 50%;
 }

 .opt .buy_btn:hover{
    background-color: red;
 }
 

