.content{
    margin-top: 50px;
    margin-left: 20px;
    color: var(--primary-color-1);
    font-weight: 700;
    font-size: 15;
    width: 100%;
    display: flex;
}
.title{
    margin-bottom: 30px;
    color: black;
    font-weight: 500;
    /* margin-left: 10px; */
   
    
}

.navbar_title{
    height: 100%;
    width: fit-content;
    background-color: var(--primary-color-2);
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    padding-right: 20px;
    align-items: center;
    font-size: 20px;
}
.navbar{
    margin-top: 5px;
    height: 40px;
    color: var(--primary-color-1);
    background-color: var(--primary-color-3);
    vertical-align: middle;
    align-items: center;
    /* padding-left: 50px; */
    justify-content: center;
    justify-items: center;
    /* padding-top: 8px; */
}
.infor{
    padding-top: 20px;
}
.edit{
    position: absolute;
    right: 10px;
    top: 150px;
    width: fit-content;


    font-size: 12px;
    color: black;
   

}
.edit:hover{
    cursor: pointer;
}
.edit_icon{
    position: relative;
    left: -5px;
}
.label{
    position: relative;
    left: -10px;
    border-radius: 5px;
    background-color: var(--primary-color-1);
    width: fit-content;
    color: var(--primary-color-4);
    padding: 2px 10px;
}
.input{
    background-color: var(--primary-color-4);
    border-style: none;
    min-width: 300px;

}
.input:focus-visible{
    border-style: none !important;
    outline: none;
}