.movies_part{
    display: block;
}

.header{
    padding: 10px 10px 10px 10px;
    display:grid;
    grid-column: auto;
    grid-column-gap: 40px;
    grid-template-columns:20% 2% 20% 2% 20%;
}

.movies_table{
    display: grid;
    font-weight: 700;
    font-size: 20px;
}
.movies_table_header{
    border-top: solid 1px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50px 50px 200px 150px 80px 100px 100px 80px 100px;
    color: var(--primary-color-1);
    font-weight: 700;
    font-size: 12px;
}
.timing{
    display: inline-flex;
    color:white;
    background-color: var(--primary-color-1);
    width: fit-content;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
.movies_table_col{
    border-right: solid 1px;
}